    header {
        text-align: center;
        background: black;
        color: LightYellow;
    }

    button {
        text-align: center;
        margin: 25px 25px 25px 450px;
    }

    ul {
        padding: 0px 10px 0px 10px;
        background: rgba(000, 020, 40, 0.700);
    }

    li {
        display: inline;
        padding: 0px 37.5px 0px 37.5px;
        font-size: 20px;
    }

    a {
        color: rgba(170, 110, 200, 0.9);
    }

    h1 {
        font-size: 50px;
    }

    img {
        margin: 65px 0px 0px 0px;
        border: 7px solid purple;
        border-radius: 90px/25px 200px 10px;
        max-width: 300px;
    }

    p {
        max-width: 900px;
        padding: 0px;
        text-align: justify;
        margin: 0 auto;
        font-size: 30;
    }

    h2 {
        text-align: left;
        font-size: 30;
        color: black;
        margin: 0 auto;
    }

    body {
        max-width: 10000000px;
        background: LightYellow;
    }

    @media (max-width: 500px) {
        body {
            background: OldLace;
        }
        h1 {
            font-size: 30px;
        }
        h2 {
            font-size: 30px;
        }
        p {
            font-size: 25px;
        }
        li {
            display: block;
            padding: 5px;
        }
        img {
            border: 4px solid purple;
            border-radius: 90px/25px 200px 10px;
            max-width: 150px;
        }
    }
